<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1> Your Ticket for the game <%= @advert.game.name %> </h1>
    <%= image_tag attachments['ticket_qr.png'].url %>
  </body>
</html>